{% extends 'layouts/base.html' %}

{% block title %} Home Dev {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="DEV">DEV</div>
        <p class="lead text-gray-800 mb-5">Página em Desenvolvimento</p>
        <p class="text-gray-500 mb-0">Página Inicial estará disponível em versões futuras.</p>
    </div>

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
