{% extends "layouts/base.html" %}
{% load tag_library %}

{% block title %} Home {% endblock %}

{% block stylesheets %}

<!-- Custom styles for this page -->
<link href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css">
<style>
    .dataTables_length {
        float: left !important;
        padding-top: 6px !important;
        }
    .dt-buttons {
        padding-left: 30px !important;
        padding-bottom: 10px !important;
        }
    .dataTables_filter {
        padding-top: 6px !important;
        }
    table th {
        font-size: 14px;
    }
    table td {
        font-size: 12px;
    }
</style>

{% endblock stylesheets %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Probabilidade + EV</h1>
        <p class="mb-4">Tabela de resultados com as probabilidades e eventos das odds processadas.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tabela de Probabilidade + EV</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <!--<table id="example" class="table table-striped" style="width:100%">-->
                    <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Competição</th>
                                <th>Evento</th>
                                <th>Data</th>
                                <th>Hora</th>
                                <th>Casa</th>
                                <th>Fora</th>
                                <th>Mercado</th>
                                <th>Entrada</th>
                                <th>Odd</th>
                                <th>Probab.</th>
                                <th>EV</th>
                            </tr>
                        </thead>
                        <!--<tfoot>
                            <tr>
                                <th>Competição</th>
                                <th>Evento</th>
                                <th>Data</th>
                                <th>Hora</th>
                                <th>Casa</th>
                                <th>Fora</th>
                                <th>Mercado</th>
                                <th>Entrada</th>
                                <th>Odd</th>
                                <th>Probab.</th>
                                <th>EV</th>
                            </tr>
                        </tfoot>-->
                        <tbody>
                          {% for item in odds_prob_ev %}
                            <tr>
                                <td>{{ item.Competição }}</td>
                                <td>{{ item.Evento }}</td>
                                <td>{{ item.Data }}</td>
                                <td>{{ item.Hora }}</td>
                                <td>{{ item.Casa }}</td>
                                <td>{{ item.Fora }}</td>
                                <td>{{ item.Mercado }}</td>
                                <td>{{ item.Entrada }}</td>
                                <td align="right">{{ item.Odd }}</td>
                                <td align="right">{{ item.Probabilidade }}</td>
                                {% if item.EV|to_float < 0 %}
                                    <td style="color: rgb(255, 115, 115)" align="right">{{ item.EV }}</td>
                                {% else %}
                                    <td align="right">{{ item.EV }}</td>
                                {% endif %}
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

{% endblock content %}

{% block javascripts %}

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.colVis.min.js"></script>
    
    <script src="/static/js/demo/datatables-demo.js"></script>

    <script>
        $(document).ready(function() {
            var table = $('#example').DataTable( {
                lengthChange: true,
                language: {search: "Pesquisar:"},
                //buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
                buttons: [
                        //{ extend: 'copy', text: '<i class="fas fa-clipboard fa-1x" aria-hidden="true"></i> Copiar' },
                        { extend: 'pdf', text: '<i class="fas fa-file-pdf fa-1x" aria-hidden="true"></i> Pdf' },
                        { extend: 'csv', text: '<i class="fas fa-file-csv fa-1x"></i> Csv' },
                        { extend: 'excel', text: '<i class="fas fa-file-excel" aria-hidden="true"></i> Excel' },
                        { extend: 'colvis', text: 'Col' }
                    ]
            } );
        
            table.buttons().container()
                .appendTo( '#example_wrapper .col-md-6:eq(0)' );
        } );
    </script>

    {% if msg %}
    <script>
        $(document).ready(function(){
        alert('teste');
        });
    </script>
    {% endif %}

{% endblock javascripts %}
